{% extends 'user_app/user_base.html' %}
{% load static %}

    {% block title %} Products {% endblock %}
    


{% block body %}
    <div class="page-wrapper">
        

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('{% static 'user/assets/images/page-header-bg.jpg' %}')">
        		<div class="container">
        			<h1 class="page-title"></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container">
                    <!-- <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        
                    </ol> -->
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                	<div class="row">
                		<div class="col-lg-9">
                			<div class="toolbox">
                				<div class="toolbox-left">
                					<div class="toolbox-info">
                						 
                					</div><!-- End .toolbox-info -->
                				</div><!-- End .toolbox-left -->

                				<div class="toolbox-right">
                					<div class="toolbox-sort">
                						<label for="sortby">Sort by:</label>
                						<div class="select-custom">
											<select name="sortby" id="sortby" class="form-control">
                                                <option value="" selected="selected">Select option</option>
                                                <option value="price_low_to_high">Price low to high</option>
												<option value="price_high_to_low" >Price high to low</option>
												
												<!-- <option value="created_at">Date</option> -->
											</select>
										</div>
                					</div><!-- End .toolbox-sort -->
                					
                				</div><!-- End .toolbox-right -->
                			</div><!-- End .toolbox -->


   

           
                            <div class="products mb-3">
                                <div class="row justify-content-center">
                            {% for variant in page %}
		
                            {% if variant.variant.name != "APPLE iPhone 13 Pro (Silver, 128 GB)" and variant.variant.name   != "APPLE iPhone 12 Pro (Gold, 512 GB)" %}
                                
                                    <div class="col-6 col-md-4 col-lg-4" style="border:1px solid black;">
                                        <div class="product product-7 text-center">
                                            <figure class="product-media mt-4">
                                                <span class="product-label label-new">New</span>
                                                <a href="{% url 'user:product' variant.variant.id %}">
                                                    <img src="{{ variant.variant.variant_images.all.0.image.url }}" alt="Product image" class="product-image" >
                                                </a>

                                                <div class="product-action-vertical">
                                                    <a href="#" data-variant="{{variant.variant.id}}" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                    
                                                </div><!-- End .product-action-vertical -->

                                                <div class="product-action">
                                                    <a href="#" class="btn-product btn-cart" data-value="{{variant.variant.stock}}" data-variant="{{variant.variant.id}}"><span>add to cart</span></a>
                                                </div><!-- End .product-action -->
                                            </figure><!-- End .product-media -->

                                            <div class="product-body">
                                                <div class="product-cat">
                                                    <a href="#" class="text-dark">{{variant.variant.product.category.name}}</a>
                                                </div><!-- End .product-cat -->
                                                <h3 class="product-title"><a href="{% url 'user:product' variant.variant.id %}">{{variant.variant.name|slice:"15"}}</a></h3><!-- End .product-title -->
                                                <div class="product-price">
                                                    {% if variant.variant.price_before_offer != variant.variant.selling_price %}
                                                        Rs :{{ variant.variant.selling_price }}
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star text-success" viewBox="0 0 16 16 ">
                                                            <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                                        </svg>
                                                        <span class="text-success" style="font-size:10px;">offer</span>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill text-success" viewBox="0 0 16 16">
                                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                        </svg>
                                                        {% else %}
                                                        Rs :{{ variant.variant.selling_price }}
                                                        {% endif %}
                                                </div><!-- End .product-price -->
                                                <div class="ratings-container">
                                                    <div class="ratings">
                    <div class="ratings-val" style="width:{% if variant.avg_rating %}{{variant.avg_rating}}{% else %}0{% endif %}%;"></div><!-- End .ratings-val -->
                                                    </div><!-- End .{% if variant.avg_rating %}{{variant.avg_rating}}{% else %}0{% endif %}ngs -->
                                                    <span class="ratings-text">{% if variant.review_count  > 0 %}{{variant.review_count}} {% else %} 0 {% endif %} Reviews</span>
                                                    </div><!-- End .rating-container -->

                                                <div class="product-nav product-nav-thumbs">
                                                    <a href="#" class="active">
                                                        <img src="{{ variant.variant.variant_images.all.1.image.url }}" alt="product desc">
                                                    </a>
                                                    <a href="#">
                                                        <img src="{{ variant.variant.variant_images.all.2.image.url }}" alt="product desc">
                                                    </a>

                                                    <a href="#" id="last-one">
                                                        
                                                        <img src="{{ variant.variant.variant_images.all.3.image.url }}" alt="product desc">
                                                        
                                                    </a>
                                                </div><!-- End .product-nav -->
                                            </div><!-- End .product-body -->
                                        </div><!-- End .product -->
                                    </div><!-- End .col-sm-6 col-lg-4 -->

                                    
                                {% endif %}
                            {% empty %}

                                <h1 class="h1 text-center">Sorry <span class='text-danger'>0</span> results found</h1>


                            {% endfor %}
                        </div><!-- End .row -->
                        </div><!-- End .products -->


                        <!-- <div class="pagination">
                            <span class="step-links">
                                {% if page.has_previous %}
                                    <a href="?page=1">&laquo; first</a>
                                    <a href="?page={{ page.previous_page_number }}">previous</a>
                                {% endif %}
                        
                                <span class="current-page">{{ page.number }}</span>
                        
                                {% if page.has_next %}
                                    <a href="?page={{ page.next_page_number }}">next</a>
                                    <a href="?page={{ page.paginator.num_pages }}">last &raquo;</a>
                                {% endif %}
                            </span>
                        </div> -->
                        

                			<nav aria-label="Page navigation">
							    <ul class="pagination justify-content-center">

                                    {% if page.has_previous %}
							        <li class="page-item page-link-prev" aria-current="page"><a class="page-link" href="?page={{ page.previous_page_number }}"><span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Previous</a></li>
                                    {% endif  %}
                                    {% if page.has_previous %}
							        <li class="page-item ">
                                        
							            <a class="page-link  active" href="?page=1" aria-label="Previous" tabindex="-1" aria-disabled="true">
							                1
							            </a>
                                       
							        </li>
                                    {% endif %}
                                    
							        <li class="page-item"><a class="page-link active" href="#">{{ page.number }}</a></li>


							        {% if page.has_next %}
							        <li class="page-item">
							            <a class="page-link page-link-next" href="?page={{ page.next_page_number }}" aria-label="Next">
							                Next 
							            </a>
							        </li>
                                    {% endif %}
                                    {% if page.has_next %}
                                    <li class="page-item">
							            <a class="page-link page-link-next" href="?page={{ page.paginator.num_pages }}" aria-label="Next">
							                Last <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
							            </a>
							        </li>
                                    {% endif %}

							    </ul>
							</nav>
                		</div><!-- End .col-lg-9 -->
                		<aside class="col-lg-3 order-lg-first">
                			<div class="sidebar sidebar-shop">
                				<div class="widget widget-clean">
                					<label>Filters:</label>
                					<a href="#" class="sidebar-filter-clear">Clean All</a>
                				</div><!-- End .widget widget-clean -->

                				<div class="widget widget-collapsible">
    								<h3 class="widget-title">
									    <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
									        Category
									    </a>
									</h3><!-- End .widget-title -->

									<div class="collapse show" id="widget-1">

                                        <div class="widget-body">
											<div class="filter-items">
												<div class="filter-item">
													<!-- HTML code for the checkboxes -->
<div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="Smart Phone">
    <label class="custom-control-label" for="Smart Phone">Smart Phone</label>
</div><!-- End .custom-checkbox -->

<div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="Laptop">
    <label class="custom-control-label" for="Laptop">Laptop</label>
</div><!-- End .custom-checkbox -->

<div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="Smart TV">
    <label class="custom-control-label" for="Smart TV">Smart TV</label>
</div><!-- End .custom-checkbox -->

<script>
   
</script>

												

											</div><!-- End .filter-items -->
										</div><!-- End .widget-body -->
										<!--  -->
									</div><!-- End .collapse -->
        						</div><!-- End .widget -->

        						

        						

        						<div class="widget widget-collapsible">
    								<h3 class="widget-title">
									    <a data-toggle="collapse" href="#widget-4" role="button" aria-expanded="true" aria-controls="widget-4">
									        Brand
									    </a>
									</h3><!-- End .widget-title -->




                                    
									<div class="collapse show" id="widget-4">
										<div class="widget-body">
											<div class="filter-items">


                                                <div class="filter-item">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="brand-Apple">
        <label class="custom-control-label" for="brand-Apple">Apple</label>
    </div><!-- End .custom-checkbox -->
</div><!-- End .filter-item -->

<div class="filter-item">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="brand-Samsung">
        <label class="custom-control-label" for="brand-Samsung">Samsung</label>
    </div><!-- End .custom-checkbox -->
</div><!-- End .filter-item -->
								

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="brand-MI">
														<label class="custom-control-label" for="brand-MI">Mi</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="brand-LG">
														<label class="custom-control-label" for="brand-LG">Lg</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="brand-HP">
														<label class="custom-control-label" for="brand-HP">HP</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="brand-ASUS">
														<label class="custom-control-label" for="brand-ASUS">ASUS</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="brand-Xioami">
														<label class="custom-control-label" for="brand-Xioami">Xioami</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->
<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="brand-Real Me">
														<label class="custom-control-label" for="brand-Real Me">Real Me</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->
											</div><!-- End .filter-items -->
										</div><!-- End .widget-body -->
									</div><!-- End .collapse -->
        						</div><!-- End .widget -->

<!-- 
                                <div class="widget widget-collapsible">
    								<h3 class="widget-title">
									    <a data-toggle="collapse" href="#widget-5" role="button" aria-expanded="true" aria-controls="widget-5">
									        Price 
									    </a>
									</h3>-->

									<div class="collapse show" id="widget-5">
										<div class="widget-body">
                                            
										</div><!-- End .widget-body -->
									</div><!-- End .collapse -->
        						</div><!-- End .widget -->

        						
                			</div><!-- End .sidebar sidebar-shop -->
                		</aside><!-- End .col-lg-3 -->
                	</div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            
            <nav class="mobile-nav">
                <ul class="mobile-menu">

                    <li class="">
                        <a href="{% url 'user:index' %}">Home</a>

                        
                    </li>
                    <li>
                    <a href="{% url 'user:all_products' %}">Categories</a>
                       
                    </li>
                    <li>
                        <a href="{% url 'user:all_products' %}">All products</a>
                       
                    </li>

                    {% if request.user.is_authenticated %}    
                            
                            

                            

                    <li class="">
                        <a href="{% url 'user:user_profile' %}" >Profile</a>

                    
                    </li>

                    <li class="">
                        <a href="{% url 'user:user_logout' %}">Logout</a>

                    
                    </li>

                    {% else %}


                    <li class="">
                        <a href="{% url 'user:user_sign_in' %}">Sign in </a>

                    
                    </li>

                    <li class="">
                        <a href="{% url 'user:user_sign_up' %}">Sign Up</a>

                    
                    </li>


                    {% endif %}
                   
                    </ul>
                   
            </nav><!-- End .mobile-nav -->

           
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    <!-- Sign in / Register Modal -->
   
{% endblock %}