{% extends 'user_app/user_base.html' %}"
{% load static %}
{% block title %}Checkout{% endblock %}

{% block body %}

        <main class="main">

			{{ cart_items_json | json_script  }}
        	<div class="page-header text-center" >
        		<div class="container">
        			<h1 class="page-title">Checkout</h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
           
            <div class="page-content mt-5">
            	<div class="checkout">
	                <div class="container">
						<div class="row">
							<div class="col-lg-6">

							</div>
							<div class="col-lg-6">
								
								<div class="checkout-discount ">

									{% if coupoun_applied  %}

									<div style="border:3px solid green;"  class="m-2 p-3 w-100 d-flex">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up-fill text-success mx-2" viewBox="0 0 16 16">
											<path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
										  </svg>
										<p class="text-dark fw-normal"> Coupoun Applied . <span class="text-success fw-bold fs-4 " style="padding-left: 20px;" id="coupounApplied" data-coupoun-id="{{applied_coupoun.id}}">{{applied_coupoun.code}}</span></p>
										
									</div>
									{% elif overall_total > 20000 %}

									<div style="border:3px solid green;"  class="m-2 p-3 w-100 d-flex" style="width:200px;">
										<p class="text-dark fw-normal"> {% if coupoun_count == 0 %}
											 No Coupouns available
											{% else %}
											Coupouns are available<button type="button"  class="text-decoration-none" id="couponLink" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="border:none;"><span class="text-success fw-bold fs-4 "  >Click here to apply</span>
											
											
												<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-stars mx-2 text-success" viewBox="0 0 16 16">
													<path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828l.645-1.937zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.734 1.734 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.734 1.734 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.734 1.734 0 0 0 3.407 2.31l.387-1.162zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L10.863.1z"/>
												  </svg></button>
											{% endif %}
											
										</p>
										
									</div>

									

									{% else %}
									<div style="border:3px solid red;"  class="m-2 p-3 w-100">
										<p class="text-dark fw-normal ">Coupouns are only available above<br> <span class="text-danger fw-bold fs-4 " style="padding-left: 20px;"> Rs 20000</span> in cart</p>
										
										
										
									</div>
									{% endif %}

									

								</div><!-- End .checkout-discount -->


							</div>
						</div>
            			
            			<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
	Launch static backdrop modal
  </button> -->
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title fs-2" id="staticBackdropLabel">Coupouns</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<div style="border:3px solid green;"  class="m-2 p-3 w-100">
				<p class="text-dark fs-3 text-center fw-normal">Coupouns </p>
				<div style="border-bottom: 2px dotted black;margin-bottom: 2px;"></div>
				{% for coupoun in coupouns %}
				<div class="mt-1 mb-1 d-flex" style="border-bottom:1px solid black">
				
				
				<p class="text-dark fw-bolder" style="width:30%"> Code :<br> {{coupoun.code}}
					
				</p>
				<p class="text-info fw-bolder px-5 " style="width:30%"> Discount
					<br>
					<span class="text-dark fw-bolder mx-2 "> {{coupoun.discount_percentage}}%
						<span class="mx-3">||</span>
					</span>
					<span class="text-dark fw-bolder mx-2"> {{coupoun.discount_amount}}
					
					</span>
				</p>
<div class="d-flex justify-content-center align-items-center"  style="width:30%">
<span style="padding: 10px;border-radius: 20px;background: red;width:100px;text-align:center;border-radius: 20px;padding: 10pxpx;"><a href="{% url 'user:apply_coupoun' coupoun.id %}" class="text-decoration-none text-white " >apply</a> </span>
				
</div>
				
				
			</div>
				{% endfor %}
			</div>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		 
		</div>
	  </div>
	</div>
  </div>
		                	<div class="row">
		                		<div class="col-lg-6">
		                			<h2 class="checkout-title">User Details</h2><!-- End .checkout-title -->
		                				<div class="row">
		                					<div class="col-sm-6">
												<div class="d-flex justify-content-center">
													<label class="mx-2">Name :</label>
													<label>{{request.user.username}}</label>
												</div>
		                						
		                						
		                					</div><!-- End .col-sm-6 -->

		                					<div class="col-sm-6">
												<div class="d-flex justify-content-center">
													<label class="mx-2">Phone :</label>
													<label>{{request.user.phone}}</label>
												</div>
		                						
		                						
		                					</div><!-- End .col-sm-6 -->
		                				</div><!-- End .row -->


										<div class="row">
										{% if form %}
										<h2 class="checkout-title">
											{% if update_address %}  Update  {% else %}
                                                    Add  {% endif %}
											
											
											Address</h2><!-- End .checkout-title -->
										<!-- user address adding updating form -->
                                        
                                            <!-- action="{% url 'user:add_new_address' %}" -->
                                            <form method="POST" >
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <label>House Name *</label>
                                                        <input type="text" class="form-control" name="address" {% if form.address.value %} value="{{ form.address.value }}" {% endif %}>
                                                    </div><!-- End .col-sm-6 -->
    
                                                    <div class="col-sm-6">
                                                        <label>Locality/Street/City *</label>
                                                        <input type="text" class="form-control" name="city" {% if form.city.value %}value="{{ form.city.value }}" {% endif %}>
                                                    </div><!-- End .col-sm-6 -->
                                                
                                                <div class="col-sm-6">
                                                    <label>State *</label>
                                                    <input type="text" class="form-control" name="state" {% if form.state.value %}value="{{ form.state.value }}" {% endif %}>
                                                </div><!-- End .col-sm-6 -->
                                            
                                                <div class="col-sm-6">
                                                    <label>Zip code *</label>
                                                    <input type="text" class="form-control" name="zip_code" {% if form.zip_code.value %}value="{{ form.zip_code.value }}" {% endif %}>
                                                </div><!-- End .col-sm-6 -->
                                            
                                               

                                                 <div class="col-sm-6">
                                                    <label>Country *</label>
                                                    <input type="text" class="form-control" name="country" {% if form.country.value %}value="{{ form.country.value }}" {% endif %}>
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->
                                               
                                               
                                                
                                                <button type="submit" class="btn btn-dark">
                                                    {% if update_address %}  Update Address {% else %}
                                                    Add address {% endif %}
                                                    <i class="icon-long-arrow-right"></i>
                                                </button>
                                            </form>
                                        </div>


                                        <div class="text-center">

                                        
                                        {% if messages %}
                                        <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %}">
                                            {% for message in messages %}
                                            <p class="text-danger">{{ message }}</p>
                                            {% endfor %}
                                        </div>
                                        {% endif %}



                                        {% endif %}



										<h2 class="checkout-title">User Addresses</h2><!-- End .checkout-title -->
	            						
										{% for ship_address in shipping_addresses %}
										<div class="card card-dashboard">
											<div class="card-body p-2" style="border: {% if ship_address.default_address %} 2px solid #AAFF00; {% else %} 1px solid black; {% endif %}">
												<input type="radio" name="selected_address" value="{{ ship_address.id }}" {% if ship_address.default_address %}checked{% endif %}>
												<label for="selected_address_{{ ship_address.id }}">
													{% if ship_address.default_address %}
													Default
													{% endif %}
													
												</label>
												<p class="text-dark">
													{{ ship_address.address }}, {{ ship_address.city }}, {{ ship_address.zip_code }}, {{ ship_address.country }}
												</p>
												<div class="d-flex justify-content-between">
													<a href="{% url 'user:update_address_cart' ship_address.id %}" class="btn-dark btn">Edit <i class="icon-edit"></i></a>
													{% if not ship_address.default_address %}
													<a href="{% url 'user:default_address_cart' ship_address.id %}" class="btn-dark p-2">Make address default</a>
													{% endif %}
													<a href="{% url 'user:delete_address_cart' ship_address.id %}">
														<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash text-dark" viewBox="0 0 16 16">
															<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6a.5.5 0 0 0-1 0Z"/>
															<path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
														</svg>
													</a>
												</div>
											</div><!-- End .card-body -->
										</div><!-- End .card-dashboard -->
										{% empty %}
										<h1 class="f-2 text-center mt-5 mb-3">No address added</h1>
										<p class="f-3">Add an address and continue to place the order</p>
										{% endfor %}
											</div>								

							<div class="m-3">
								{% if not form %}
								<a href="{% url 'user:add_new_address_cart' %}" class="btn btn-primary">Add new address</a>
                                        {% endif %}        
							</div>
									</div><!-- End .col-lg-9 -->
									{% if  update_address or  add_new_address %}
									{% else %}
		                		<aside class="col-lg-5">
		                			<div class="summary">
		                				<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

		                				<table class="table table-summary">
		                					<thead>
		                						<tr>
		                							<th>Product</th>
													<th>Quantity</th>
		                							<th>Total</th>
		                						</tr>
		                					</thead>

		                					<tbody>
		                						
												{% for cart_item in cart_items %}
		                						<tr>
		                							<td><a href="#">{{ cart_item.variant|slice:":12" }}</a></td>
		                							<td class="text-center">{{ cart_item.quantity }}</td>
													<td>Rs :{{ cart_item.total }}</td>
		                						</tr>
												{% endfor %}

												<tr class="summary-subtotal">
		                							<td>Total number of items:</td>
		                							<td id="total_items_in_cart"> {{total_items_in_cart}}</td>
		                						</tr><!-- End .summary-subtotal -->
		                						<tr class="summary-subtotal">
		                							<td>Subtotal:</td>
		                							<td>Rs <span id='subtotal_cart' >{{overall_total}}</span></td>
		                						</tr><!-- End .summary-subtotal -->
		                						<tr>
		                							<td>Shipping:</td>
		                							<td>Free shipping</td>
		                						</tr>
												<tr class="summary-total">
													<td>Wallet :</td>
													<td ><span class="fw-bold">Rs :
														{% if wallet.amount > 0 %}
														{{wallet.amount}}
														{% else %}
														0
														{% endif %}
													</span></td>
												</tr><!-- End .summary-total -->
												{% if overall_total == 0 %}
												<tr class="summary-total">
													<td>Amount Credited</td>
													<td ><span class="fw-bold">
														 Wallet
													</span></td>
												</tr><!-- End .summary-total -->
												{% elif wallet_amount_applied > 0 %}

												<tr class="summary-total">
		                							<td>Amount credited from wallet:</td>
		                							<td>Rs {{wallet_amount_applied}}</td>
		                						</tr><!-- End .summary-total -->

												{% endif %}
		                						<tr class="summary-total">
		                							<td>Amount Payable:</td>
		                							<td>Rs {{overall_total}}</td>
		                						</tr><!-- End .summary-total -->
		                					</tbody>
		                				</table><!-- End .table table-summary -->

		                				<div class="accordion-summary" id="accordion-payment">
										    

										    <div class="card">
										        <div class="card-header" id="heading-2">
										            <h2 class="card-title">
										                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
										                    Razor Pay
										                </a>
										            </h2>
										        </div><!-- End .card-header -->
										        <div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-payment">
										            <div class="card-body">
										                Ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. 
										            </div><!-- End .card-body -->
										        </div><!-- End .collapse -->
										    </div><!-- End .card -->

										    <div class="card">
										        <div class="card-header" id="heading-3">
										            <h2 class="card-title">
										                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
										                    Cash on delivery
										                </a>
										            </h2>
										        </div><!-- End .card-header -->
										        <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
										            <div class="card-body">Quisque volutpat mattis eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. 
										            </div><!-- End .card-body -->
										        </div><!-- End .collapse -->
										    </div><!-- End .card -->

										   

						
										</div><!-- End .accordion -->

		                				<button  class="btn btn-outline-primary-2 btn-order btn-block" style="border:1px solid #333333;width:100%;" id="placeOrderBtn">
		                					<span class="btn-text p-2 " >Place Order</span>
		                					<span class="btn-hover-text text-white">Place order</span>
		                				</button>
		                			</div><!-- End .summary -->
		                		</aside><!-- End .col-lg-3 -->
								{% endif %}
		                	</div><!-- End .row -->
            			<span id="item_qty" data-t="{{ cart_items_json   }}"></span>
						{{payment}}
	                </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->


<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"> <!-- Add these classes -->
	  <div class="modal-content" style="width:1100px;">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Insufficent stock list</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body" id="details">
		 
		</div>
		<div class="modal-footer">
			<div class="d-flex">
				<a href="{% url 'user:user_cart' %}" class="btn btn-primary p-3">Go to cart</a>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					
			</div>
			
		</div>
	  </div>
	</div>
  </div>
  
	
       {% endblock %}

	  
	   {% block importantjs %}
	   <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
	   <script>
  		



</script>


	   {% endblock %}