{% load static %}
<div class="footer-middle border-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <div class="widget widget-about">
                    <img src="{% static 'logo_symbol.jpg' %}" class="footer-logo" alt="Footer Logo" width="105" height="25">
                    <p>
                        Your ultimate destination for cutting-edge technology. Explore our curated collection of smartphones, laptops, iPads, and televisions, bringing innovation to your fingertips. Elevate your digital lifestyle with top-notch devices from trusted brands, all at DigiX, where technology meets tomorrow.
                    
                    </p>
                    
                    <div class="widget-about-info">
                        <div class="row">
                            
                        </div><!-- End .row -->
                    </div><!-- End .widget-about-info -->
                </div><!-- End .widget about-widget -->
            </div><!-- End .col-sm-12 col-lg-3 -->


            <div class="col-sm-4 col-lg-2">
                <div class="widget">
                    <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                    <ul class="widget-list">
                        <li><a href="#">Sign In</a></li>
                        <li><a href="cart.html">View Cart</a></li>
                        <li><a href="#">My Wishlist</a></li>
                        <li><a href="#">Track My Order</a></li>
                        <li><a href="#">Help</a></li>
                    </ul><!-- End .widget-list -->
                </div><!-- End .widget -->
            </div><!-- End .col-sm-64 col-lg-3 -->

            <div class="col-sm-4 col-lg-2">
                <div class="widget">
                    <h4 class="widget-title">Information</h4><!-- End .widget-title -->

                    <ul class="widget-list">
                        <li><a href="about.html">About Molla</a></li>
                        <li><a href="#">How to shop on Molla</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="contact.html">Contact us</a></li>
                        <li><a href="login.html">Log in</a></li>
                    </ul><!-- End .widget-list -->
                </div><!-- End .widget -->
            </div><!-- End .col-sm-4 col-lg-3 -->

            <div class="col-sm-4 col-lg-2">
                <div class="widget">
                    <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                    <ul class="widget-list">
                        <li><a href="#">Payment Methods</a></li>
                        <li><a href="#">Money-back guarantee!</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Terms and conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul><!-- End .widget-list -->
                </div><!-- End .widget -->
            </div><!-- End .col-sm-4 col-lg-3 -->

            
        </div><!-- End .row -->
    </div><!-- End .container -->
</div><!-- End .footer-middle -->

<div class="footer-bottom">
    <div class="container">
        <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p><!-- End .footer-copyright -->
        <ul class="footer-menu">
            <li><p class="underlined">Terms Of Use</p></li>
            <li><p class="underlined">Privacy Policy</p></li>
        </ul><!-- End .footer-menu -->

        <div class="social-icons social-icons-color">
            <span class="social-label">Social Media</span>
            <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
            <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
            <a href="#" class="social-icon social-instagram" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
            <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
            <a href="#" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
        </div><!-- End .soial-icons -->
    </div><!-- End .container -->
</div><!-- End .footer-bottom -->
</footer><!-- End .footer -->