{% load static %}
<header class="header header-10 header-intro-clearance">
            

    <div class="header-middle">
        <div class="container">
            <div class="header-left">
                <button class="mobile-menu-toggler">
                    <span class="sr-only">Toggle mobile menu</span>
                    <i class="icon-bars"></i>
                </button>
                
                <a href="{% url 'user:index' %}" class="logo">
                    <img src="{% static 'logo.jpg' %}" alt="DigiX Logo" width="105" height="25">
                </a>
            </div><!-- End .header-left -->
            <div class="" style="display:block;">

                <div class="header-center">
                
                    <div class="header-search header-search-extended header-search-visible header-search-no-radius d-none d-lg-block">
                        <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                        <form action="{% url 'user:search' %}" method="get">
                            <div class="header-search-wrapper search-wrapper-wide">
                            
                                
                                <label for="search_value" class="sr-only">Search</label>
                                <input type="search" class="form-control" name="search_value" id="searchInput" placeholder="Search product ..." >
                                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                               
                    
                            </div>
                        </form>
                        
    
    
                    </div><!-- End .header-search -->
                    
                    
                </div>
                <div class="text-center">
                    <div id="suggestions" ></div> 
                </div>
                
                
            </div>
            
            
            <div class="header-right">
                <div class="header-dropdown-link">
                    

                    <a href="{% url 'user:user_wishlist' %}" class="wishlist-link">
                        <i class="icon-heart-o"></i>
                        <span class="wishlist-count" id="wishlist_count_badge">0</span>
                        <span class="wishlist-txt" style="text-decoration: none;" id="wish_list_id">Wishlist</span>
                    </a>
                    <a href="{% url 'user:user_cart' %}">
                    <div class="dropdown cart-dropdown">
                        <a id='shopping_cart_icon' href="{% url 'user:user_cart' %}" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                            <i class="icon-shopping-cart"></i>
                            <span class="cart-count" id="cart_count_badge">0</span>
                            <span class="cart-txt">Cart</span>
                        </a>
                    </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-cart-products" style="width:100%">
                                

                                <div class="product">
                                    
                                    
                                    <a href="#" class="btn-remove " title="Remove Product"><i class="icon-close"></i></a>
                                </div><!-- End .product -->
                            </div><!-- End .cart-product -->

                            

                            <div class="dropdown-cart-action">
                                <a href="{% url 'user:user_cart' %}" class="btn btn-primary">View Cart</a>
        
                            </div><!-- End .dropdown-cart-total -->
                        </div><!-- End .dropdown-menu -->
                    </div><!-- End .cart-dropdown -->
                </div>
            </div><!-- End .header-right -->
        </div><!-- End .container -->
    </div><!-- End .header-middle -->
      <!-- Results dropdown -->
<div id="search-results"  class="dropdown" style="width:100%;height:100%;">
    <ul class="dropdown-menu" style="width:100%;height:100%;background-color: blue;"></ul>
</div>

    </div></div></div>
    <div class="header-bottom sticky-header" id="header_nav">
        <div class="container">
            <div class="header-left">
                <div class="dropdown category-dropdown show is-on" data-visible="true">
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" data-display="static" title="Browse Categories">
                        
                    </a>

                    <div class="dropdown-menu show">
                        <nav class="side-nav">
                            <ul class="menu-vertical sf-arrows" id="menu-vertiacal-container">
                                
                                
                                
                            </ul><!-- End .menu-vertical -->
                        </nav><!-- End .side-nav -->
                    </div><!-- End .dropdown-menu -->
                </div><!-- End .category-dropdown -->
            </div><!-- End .col-lg-3 -->
            <div class="header-center">
                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                        <li class="megamenu-container ">
                            <a href="{% url 'user:index' %}" class="sf-with-ul no-dropdown">Home</a>

                            
                        </li>
                        <li style="min-width:125px;">
                            <a href="{% url 'user:all_products' %}"  class="sf-with-ul">Category<i class="fa-solid fa-angle-down nav-down-arrow"></i></a>

                            <div class="megamenu megamenu-md" style="max-width:220px;background: transparent;">
                            <div class="row no-gutters">
                                <div class="col-md--12">
                                    <div class="menu-col">
                                        <div class="row">
                                            <div class="col-md-12">
                                                
                                                <div class="menu-col" style="background:white;">
                                                    
                                                    <ul  style="padding-left:20px;padding-right:10px;padding-top:10px;">
                                                        <li>
                                                            
                                                            <div class="d-flex mt-3">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tablet-fill text-dark" viewBox="0 0 16 16" style="margin-right:10px;">
                                                                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm7 11a1 1 0 1 0-2 0 1 1 0 0 0 2 0z"/>
                                                                  </svg>
                                                                  <a href="{% url 'user:category_display_all_products' 'Smart Phone' %}">Smart Phone</a>
                                                            </div>
                                                        </li>
                                                        
                                                        <li>
                                                            <div class="d-flex mt-3">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-laptop text-dark" viewBox="0 0 16 16" style="margin-right:10px;">
                                                                    <path d="M13.5 3a.5.5 0 0 1 .5.5V11H2V3.5a.5.5 0 0 1 .5-.5h11zm-11-1A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2h-11zM0 12.5h16a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5z"/>
                                                                  </svg>
                                                                  <a href="{% url 'user:category_display_all_products' 'Laptop' %}">Laptop</a>
                                                        
                                                            </div>
                                                           
                                                        </li>
                                                        
                                                        <li>
                                                            <div class="d-flex mt-3">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tv-fill text-dark" viewBox="0 0 16 16" style="margin-right:10px;">
                                                                    <path d="M2.5 13.5A.5.5 0 0 1 3 13h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zM2 2h12s2 0 2 2v6s0 2-2 2H2s-2 0-2-2V4s0-2 2-2z"/>
                                                                  </svg>
                                                                  <a href="{% url 'user:category_display_all_products' 'Smart TV' %}">Smart TV</a>
                                                        
                                                            </div>
                                                        </li>
                                                        
                                                    </ul>
                                                </div><!-- End .menu-col -->
                                                
                                            </div><!-- End .col-md-6 -->

                                           
                                        </div><!-- End .row -->
                                    </div><!-- End .menu-col -->
                                </div><!-- End .col-md-8 -->

                               
                            </div><!-- End .row -->
                        </div><!-- End .megamenu megamenu-md -->
                        </li>
                        <li style="min-width:110px;">
                            <a href="{% url 'user:all_products' %}" class="sf-with-ul ">Product</a>

                            
                        </li>
                        
                        {% if request.user.is_authenticated %}
                        <li style="min-width:140px;">
                            <a class="sf-with-ul no-dropdown">Hello, {{request.user.username}}</a>
                        </li>

                        <li style="min-width:100px;">
                            <a href="{% url 'user:user_profile' %}" class="sf-with-ul no-dropdown">Profile<i class="fa-solid fa-angle-down nav-down-arrow"></i></a>
                            <div class="megamenu megamenu-md" style="max-width:200px;background: transparent;">
                                <div class="row no-gutters">
                                    <div class="col-md--12">
                                        <div class="menu-col">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    
                                                    <div class="menu-col" style="background:white;">
                                                        
                                                        <ul style="padding-left:20px;padding-right:10px;padding-top:10px;">
                                                            <li >
                                                                
                                                                    <d class="d-flex">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookshelf text-dark" viewBox="0 0 16 16" style="margin-right:10px;">
                                                                            <path d="M2.5 0a.5.5 0 0 1 .5.5V2h10V.5a.5.5 0 0 1 1 0v15a.5.5 0 0 1-1 0V15H3v.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zM3 14h10v-3H3v3zm0-4h10V7H3v3zm0-4h10V3H3v3z"/>
                                                                          </svg>
                                                                        <a href="{% url 'user:user_profile_orders' %}" >Orders</a>
                                                                        
                                                                    </d>
                                                                

                                                            </li>
                                                            <li>
                                                                <div class="d-flex mt-3">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill text-dark" viewBox="0 0 16 16" style="margin-right:10px;">
                                                                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                                                                      </svg>
                                                                    <a href="{% url 'user:user_profile_account_details' %}">Account</a>
                                                                </div>
                                                                
                                                            </li>
                                                            
                                                        </ul>
                                                    </div><!-- End .menu-col -->
                                                    
                                                </div><!-- End .col-md-6 -->
    
                                               
                                            </div><!-- End .row -->
                                        </div><!-- End .menu-col -->
                                    </div><!-- End .col-md-8 -->
    
                                   
                                </div><!-- End .row -->
                            </div><!-- End .megamenu megamenu-md -->
                            
                        </li>

                        <li>
                            <a href="{% url 'user:user_logout' %}" class="sf-with-ul no-dropdown">Logout</a>

                            
                        </li>
                       
                        {% else %}

                        <li>
                            <a href="{% url 'user:user_sign_in' %}" class="sf-with-ul no-dropdown">Sign In</a>

                            
                        </li>



                        <li>
                            <a href="{% url 'user:user_sign_up' %}" class="sf-with-ul no-dropdown">Sign Up</a>

                            
                        </li>
                        {% endif %}

                    
                    </ul><!-- End .menu -->
                </nav><!-- End .main-nav -->
            </div><!-- End .col-lg-9 -->
            
        </div><!-- End .container -->
    </div><!-- End .header-bottom -->
</header><!-- End .header -->

