{% extends 'user_app/user_base.html' %}"
{% load static %}
{% block title %}Profile Orders{% endblock %}

{% block importantcss %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<style src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"></style>
<style src="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css"></style>
{% endblock %}
{% block body %}

        <main class="main">
        	<div class="page-header text-center" >
        		<div class="container">
        			<h1 class="page-title">My Account</h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
           

            <div class="page-content">
            	<div class="dashboard">
	                <div class="container">
	                	<div class="row">
	                		<aside class="col-md-4 col-lg-3">
	                			<ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
								    <li class="nav-item">
								        <a class="nav-link " id="tab-dashboard-link"  href="{% url 'user:user_profile_dashboard' %}" >Dashboard</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link active" id="tab-orders-link"  href="{% url 'user:user_profile_orders' %}" >Orders</a>
								    </li>
								    
								    <li class="nav-item">
								        <a class="nav-link" id="tab-address-link"  href="{% url 'user:user_profile_address' %}" >Addresses</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link " id="tab-account-link"  href="{% url 'user:user_profile_account_details' %}" >Account Details</a>
								    </li>
									<li class="nav-item">
                                        <a class="nav-link " id="tab-account-link"  href="{% url 'user:user_wallet' %}" >Wallet</a>
                                    </li>
									
								    
								</ul>
	                		</aside><!-- End .col-lg-3 -->

	                		<div class="col-md-8 col-lg-9">
	                			<div class="tab-content">
									


									
									{% if order_count > 0 %}

									<div class="row">
										<table id="example" class="table table-striped" style="width:100%;font-size:12px;">
											<thead>
												<tr>
													<th></th>
													<th>Order number</th>
													<th>Product Name</th>
													<th>Date</th>
													<th>Status</th>
													
												</tr>
											</thead>
											<tbody>
												{% for order in user_orders %}
												{% for order_item in order.order_items.all %}
												
												<tr>
													
													<td style="width:100px;">
														{% with variant_image=order_item.variant.variant_images.first %}
														<img src="{{ variant_image.image.url }}" alt="{{ order_item.variant.name }} Image" style="width:99px;height:101px;">
													{% endwith %}
													</td>
													<td style="font-weight:500;">{{ order.order_num }}</td>

													<td style="font-weight:500;"> <a href="{% url 'user:order_detail' order.id order_item.variant.id %}" class="text-dark text-decoration-none">{{ order_item.variant.name }}</a></td>
													<td>{{ order.date_created }}</td>
													<td class="text-dark" style="font-weight:500;">{% if order_item.order_status == 'order_pending' %}
														Order Pending
														{% elif order_item.order_status == 'returned' %}
														Order Returned
														{% elif order_item.order_status == 'order_confirmed' %}
														Order Confirmed
														{% elif order_item.order_status == 'shipped' %}
														Order Shipped
														{% elif order_item.order_status == 'delivered' %}
														Delivered
														{% elif order_item.order_status == 'waiting_for_approval' %}
                   										 Waiting for Approval
														{% else %}
														Cancelled
													{% endif %}</td>
											
												</tr>
												
												{% endfor %}
												{% endfor %}
											</tbody>
											
										</table>
									</div>


									{% else %}


									<div class="row" >
								    	<p>No order has been made yet.</p>
								    	<a href="{% url 'user:index' %}" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
								    </div><!-- .End .tab-pane -->


								{% endif %}


									
									

									
								   
								   


										

								</div>
	                		</div><!-- End .col-lg-9 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

       {% endblock %}

	   {% block importantjs %}
	   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	   <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
	   <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
	   <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
	   <script>
        new DataTable('#example');
		
		a_tags =document.getElementsByTagName('a')

// Get all elements with class 'widget' and 'content-widget'
var widgetElements = document.querySelectorAll('.widget-list');

// Loop through each 'widget' and 'content-widget' element
widgetElements.forEach(function(element) {
 // Get all <a> tags inside the current 'widget' or 'content-widget' element
 var aTags = element.querySelectorAll('a');
 
 // Loop through each <a> tag inside this element and apply your styling
 aTags.forEach(function(aTag) {
   // Apply your styling to the <a> tag, for example:
   aTag.style.color = '#333333';
   aTag.style.textDecoration = 'none';
 });
});
    </script>
{% endblock %}