{% extends 'user_app/user_base.html' %}"
{% load static %}
{% block title %}{{variant.name}}{% endblock %}

{% block body %}
    
<div class="page-wrapper mt-5 mb-5">
        
    
    <main class="main">
        

        <div class="page-content t-5 mb-5">
            <div class="container">
                <div class="product-details-top mb-2">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="product-gallery product-gallery-vertical">
                                <div class="row">
                                    <figure class="product-main-image">
                                        <img id="product-zoom" src="{{ variant.variant_images.all.0.image.url }}" data-zoom-image="{{ variant.variant_images.all.0.image.url }}" alt="product image">

                                        <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                            <i class="icon-arrows"></i>
                                        </a>
                                    </figure>

                                    <div id="product-zoom-gallery" class="product-image-gallery">
                                        <a class="product-gallery-item " href="#" data-image="{{ variant.variant_images.all.1.image.url }}" data-zoom-image="{{ variant.variant_images.all.1.image.url }}">
                                            <img src="{{ variant.variant_images.all.1.image.url }}" alt="product : {{variant.name|slice:':15'}}">
                                        </a>

                                        <a class="product-gallery-item" href="#" data-image="{{ variant.variant_images.all.2.image.url }}" data-zoom-image="{{ variant.variant_images.all.2.image.url }}">
                                            <img src="{{ variant.variant_images.all.2.image.url }}" alt="product : {{variant.name|slice:':15'}}">
                                        </a>

                                        <a class="product-gallery-item " href="#" data-image="{{ variant.variant_images.all.3.image.url }}" data-zoom-image="{{ variant.variant_images.all.3.image.url }}">
                                            <img src="{{ variant.variant_images.all.3.image.url }}" alt="product : {{variant.name|slice:':15'}}">
                                        </a>

                                        <a class="product-gallery-item" href="#" data-image="{{ variant.variant_images.all.0.image.url }}" data-zoom-image="{{ variant.variant_images.all.0.image.url }}">
                                            <img src="{{ variant.variant_images.all.0.image.url }}" alt="product : {{variant.name|slice:':15'}}">
                                        </a>
                                    </div><!-- End .product-image-gallery -->
                                </div><!-- End .row -->
                            </div><!-- End .product-gallery -->
                        </div><!-- End .col-md-6 -->

                        <div class="col-md-6">
                            <div class="product-details product-details-centered">
                                <h1 class="product-title">{{variant.product.name}} {{variant.name}}</h1><!-- End .product-title -->

                                <div class="ratings-container">
                                    <div class="ratings">
                                    
                                    <div class="ratings-val" style="width:{% if review_count > 0 %} {{avg_rating}}{% else %}0{% endif %}%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">{% if review_count > 0 %}  {{review_count}} reviews {% else %} No reviews added  {% endif %}</span>
                                    </div><!-- End .rating-container -->

                                <div class="product-price">
                                    {% if variant.price_before_offer != variant.selling_price %}
                                    Rs :{{ variant.selling_price }}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star text-success " viewBox="0 0 16 16 " style="margin-left:10px;">
                                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                    </svg>
                                    <span class="text-success" style="font-size:10px;">offer</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill text-success" viewBox="0 0 16 16">
                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                    </svg>
                                    <div class="mx-2">
                                        <s><p class="text-danger">{{ variant.price_before_offer }}</p></s>
                                    </div>
                                    {% else %}
                                    Rs :{{ variant.selling_price }}
                                    {% endif %}
                                </div><!-- End .product-price -->

                                <div class="product-content">
                                    <p>{{variant.description|slice:":150"}}</p>
                                </div><!-- End .product-content -->

                                <div class="details-filter-row details-row-size mb-5">
                                    <!-- <div class="w-75 mb-5 " id="variant1-div">

                                        <a href="">

                                        <div class="d-flex p-2 justify-content-between align-items-center">

                                            <div class="d-flex justify-content-center align-items-center">
                                                <label>Color:</label>
                                                <div class="product-nav product-nav-dots d-flex">
                                                
                                                <a href="#" class="active" style="background: #cc9966;"><span class="sr-only">Color name</span></a>
                                              </div>
                                            </div>

                                            
                                            
                                            <label class="mx-2">Ram : value</label>
                                            <label class="mx-2">Storage :value</label>

                                        </div>
                                        </a>

                                    </div> -->
                                    {% if variant.product.category.name == 'Smart TV' %}
                                    <div class="w-75 mb-2 mt-3 d-block text-start" id="variant-tv-div">
                                        <label class="text-dark w-100 mt-2 " style="font-size:2rem;">Screen Resolution: {{variant.screen_resolution}} inch</label>
                                        <label class="text-dark w-100 mt-2 " style="font-size:2rem;">Hdmi Ports: {{variant.no_of_hdmi_ports}}</label>
                                        <label class="text-dark w-100 mt-2 " style="font-size:2rem;">Usb Ports: {{variant.no_of_usb_ports}}</label>
                                    </div>
                                    {% else %}
                                    <div class="w-75 mb-2 mt-3" id="variant-div"></div>
                                    {% endif %}
                                    
                                        <!-- Other content goes here -->
                                      </div>

                                      {% if variant.stock == 0 %}

                                      <div class="w-75 mb-3 " >
                                        <h2 class="mx-2 text-start" style="color:#333333;font-weight: 400;text-align:start;">Out of stock....</h2>
                                      </div>

                                      {% elif  variant.stock < 11 %}
                                     
                                      
                                      
                                      <div class="w-75 mb-3 " >
                                        <p class="mx-2 text-start" style="color:#333333;font-weight: 400;text-align:start;">Number of stocks :  Only <span class="text-danger h2">{{variant.stock}}</span>  left Hurry Up....</p>
                                      </div>


                                      
                                      {% endif %}
                                </div>
                                


                                <div class="product-details-action">
                                    <div class="details-action-col">
                                        <!-- <div class="product-details-quantity  d-flex justify-content-between align-items-center"  style="border:1px solid #333333;padding:5px;height: 40px;width:100px;">

                                           
                                            <svg id="minus_icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg " viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/>
                                              </svg>

                                              <input id="show_qty" type="text" style="width:15px;border:none;" class=" " value="1" max_stock="{{variant.stock}}">

                                           
                                            <svg id="plus_icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg " viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                                              </svg>



                                          
                                            </div> -->
                                            
                                            <!-- End .product-details-quantity -->
                                            <div style="width:100px;background:white;"></div>

                                        <a href="#" data-variant="{{variant.id}}"  data-value={{variant.stock}} class="btn-product  btn-cart p-3 "><span>add to cart</span></a>

                                        <a href="#" data-variant="{{variant.id}}" class="btn-product  btn-wishlist mx-2 p-3" style="width:200px;border:1px solid #333333;"><span>Add to Wishlist</span></a>
                                    </div><!-- End .details-action-col -->
                                    
                                        
                        <br>

                                

                             
                            </div><!-- End .product-details -->
                            <div class="product-details-footer">
                                <div class="product-cat">
                                    <span style="color:black;">Category:</span>
                                    <a href="{% url 'user:category_display_all_products' variant.product.category.name %}" class="text-dark">{{variant.product.category.name}}</a>
                                    
                                </div><!-- End .product-cat -->

                                
                            </div><!-- End .product-details-footer -->
                        </div><!-- End .col-md-6 -->
                    </div><!-- End .row -->
                </div><!-- End .product-details-top -->



                

                <div class="product-details-tab">
                    <ul class="nav nav-pills justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="product-info-link" data-toggle="tab" href="#product-info-tab" role="tab" aria-controls="product-info-tab" aria-selected="false">Additional information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="product-shipping-link" data-toggle="tab" href="#product-shipping-tab" role="tab" aria-controls="product-shipping-tab" aria-selected="false">Shipping & Returns</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="product-review-link" data-toggle="tab" href="#product-review-tab" role="tab" aria-controls="product-review-tab" aria-selected="false">Reviews {% if review_count > 0 %} ({{review_count}})  {% endif %}</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                            <div class="product-desc-content">
                                <h3>Product Information</h3>
                                <p>{{variant.description}}</p>
                                <ul>
                                    <li>Nunc nec porttitor turpis. In eu risus enim. In vitae mollis elit. </li>
                                    <li>Vivamus finibus vel mauris ut vehicula.</li>
                                    <li>Nullam a magna porttitor, dictum risus nec, faucibus sapien.</li>
                                </ul>

                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. </p>
                            </div><!-- End .product-desc-content -->
                        </div><!-- .End .tab-pane -->
                        <div class="tab-pane fade" id="product-info-tab" role="tabpanel" aria-labelledby="product-info-link">
                            <div class="product-desc-content">
                                <h3>Information</h3>
                                <p>{{variant.description}}</p>

                                <h3>Specafications</h3>
                                <ul>


                                    {% if variant.product.category.name == 'Smart TV' %}
                                    <li><div>Usb Ports: {{variant.no_of_usb_ports}}</div></li>
                                    <li><div>HDMI Ports : {{variant.no_of_hdmi_ports}}</div></li>
                                    <li><div>Mount Type : {{variant.tv_mount}}</div></li>
                                                                    
                                    {% endif %}
                                    <li><div>Ram : {{variant.ram}}</div></li>
                                    <li><div>Storage : {{variant.storage}}</div></li>
                                    <li><div>Screen Resolution : {{variant.screen_resolution|floatformat:1}} inch</div></li>

                                    
                                    
                                </ul>

                                
                            </div><!-- End .product-desc-content -->
                        </div><!-- .End .tab-pane -->
                        <div class="tab-pane fade" id="product-shipping-tab" role="tabpanel" aria-labelledby="product-shipping-link">
                            <div class="product-desc-content">
                                <h3>Delivery & returns</h3>
                                <p>We deliver to over 100 countries around the world. For full details of the delivery options we offer, please view our <a href="#">Delivery information</a><br>
                                We hope you’ll love every purchase, but if you ever need to return an item you can do so within a month of receipt. For full details of how to make a return, please view our <a href="#">Returns information</a></p>
                            </div><!-- End .product-desc-content -->
                        </div><!-- .End .tab-pane -->
                        <div class="tab-pane fade" id="product-review-tab" role="tabpanel" aria-labelledby="product-review-link">
                            <div class="reviews">
                                <h3>{% if review_count > 0 %}  {{review_count}} reviews {% else %} 0 reviews added  {% endif %}</h3>
                               
                                {% for review in  reviews %}

                                <div class="review">
                                    <div class="row no-gutters">
                                        <div class="col-auto">
                                            <h4><a href="#">{{review.user.username}}</a></h4>
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: {{ review.star_rating }}%;"></div>
                                                    <!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                            </div><!-- End .rating-container -->
                                            <!-- <span class="review-date">5 days ago</span> -->
                                        </div><!-- End .col -->
                                        <div class="col">
                                            <!-- <h4>Very good</h4> -->

                                            <div class="review-content">
                                                <div class="d-flex">
                                                    
                                                    <p class="text-dark fs-4 " style="width:95%;">{{review.review}}</p>

                                                    {% if request.user == review.user %}
                                                    <a href="{% url 'user:delete_review' review.id variant.id %}" >
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3 text-dark mx-2" viewBox="0 0 16 16">
                                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                                      </svg></a>
                                                      <a  class="update-review-btn" data-review-id="{{ review.id }}"  data-variant-id="{{ variant.id }}" >
                                                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-wrench text-dark" viewBox="0 0 16 16">
                                                        <path d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z"/>
                                                      </svg></a>
                                                      {% endif %}
                                                </div>
                                                

                                            </div><!-- End .review-content -->

                                         
                                        </div><!-- End .col-auto -->
                                    </div><!-- End .row -->
                                </div><!-- End .review -->


                                {% empty %}
                                <p class='fs-2 text-center'>No reviews added till....</p>
                                {% endfor %}
                                {% if user_can_add_review %}

                                <div class="review">
                                    <div class="row no-gutters">
                                        <div class="col-auto">
                                            <h4><a href="#">Add Review</a></h4>
                                            <div class="ratings-container">
                                                <!-- <div class="ratings "> -->
                                                    <!-- <p>select  rating </p>
                                                    <div class="ratings-val" style="width: 100%;"></div>l -->
                                                
                                                
                                                <!-- </div>-->
                                            </div><!-- End .rating-container -->
                                            <!-- <span class="review-date">5 days ago</span> -->
                                        </div><!-- End .col -->
                                        <div class="col">
                                           

                                            <div class="review-content">
                                                <form id="reviewForm" action="{% url 'user:add_review' variant.id %}" method="POST">
                                                    {% csrf_token %}
                                                    <div class="mb-3 mt-4">
                                                        <label for="reviewinput" class="form-label">Give rating</label>
                                                        <div class="ratings">
                                                            <input type="range" min="1" max="5" step="1" value="1" id="starRating" name="star_rating">
                                                            <div class="ratings-val" style="width: 0%;" id="starRatingValue"></div>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3 mt-3">
                                                        <label for="exampleInputPassword1" class="form-label">Give review. Don't forget to give the star rating..</label>
                                                        <textarea class="form-control" name="review" id="review" style="font-size:18px;"></textarea>
                                                    </div>
                                                    <button type="submit" class="btn btn-dark">Submit</button>
                                                </form>
                                            </div>
                                            
                                           
                                            {% if messages %}
                                            <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %}">
                                                {% for message in messages %}
                                                <p class="text-danger">{{ message }}</p>
                                                {% endfor %}
                                            </div>
                                            {% endif %}
                                            
                                        </div><!-- End .col-auto -->
                                    </div><!-- End .row -->
                                </div><!-- End .review -->

                                {% endif %}
                                <div id="review-container" >
                                    <!-- Existing review content here -->
                                </div>
                                <div  class=" text-center">
                                    <p id="error-div" class="fs-2 m-3 text-danger"></p>

                                </div>
                                {% if not user_can_add_review and not request.user.is_authenticated%}
                                <p class="fs-3 text-center text-dark">Purchase the product to add review.</p>
                                {% endif %}


                            </div><!-- End .reviews -->
                        </div><!-- .End .tab-pane -->
                    </div><!-- End .tab-content -->
                </div><!-- End .product-details-tab -->
                

                <h2 class="title text-center mb-4">You May Also Like</h2><!-- End .title text-center -->

                
                <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                        data-owl-options='{
                            "nav": false, 
                            "dots": true,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":1
                                },
                                "480": {
                                    "items":2
                                },
                                "768": {
                                    "items":3
                                },
                                "992": {
                                    "items":4
                                },
                                "1200": {
                                    "items":4,
                                    "nav": true,
                                    "dots": false
                                }
                            }
                        }'>
                        {% for simillar_variant in simillar_products %}

                        {% if variant.id != simillar_variant.id %}

                        <div class="product">

                            <figure class="product-media">
                            <span class="product-label label-sale">Sale</span>
                            <a href="{% url 'user:product' simillar_variant.product.id %}">
                            <img src="{{ simillar_variant.product.variant_images.all.0.image.url }}" alt="Product image" height='' class="product-image home_product_image">
                            </a>
                            
                            <div class="product-action-vertical">
                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                            
                            </div><!-- End .product-action-vertical -->
                            
                            <div class="product-action">
                            <a href="#" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                            </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->
                            
                            <div class="product-body">
                            <div class="product-cat">
                            <a href="#"> {{ simillar_variant.product.product.category.name }}</a>
                            </div><!-- End .product-cat -->
                            <h3 class="product-title"><a href="product.html"> {{ simillar_variant.product.product.name }}</a></h3><!-- End .product-title -->
                            <div class="product-price">
                            <span class="new-price"> {{ simillar_variant.product.selling_price }}</span>
                            <span class="old-price">Was {{ simillar_variant.product.mr_price }}.00</span>
                            </div><!-- End .product-price -->
                            <div class="ratings-container">
                            <div class="ratings">
                            
                            <div class="ratings-val" style="width:{% if simillar_variant.product.review_count  > 0 %}{{simillar_variant.product.avg_rating}}{% else %} 10{% endif %}%;"></div><!-- End .ratings-val -->
                            </div><!-- End .ratings -->
                            <span class="ratings-text">{% if simillar_variant.product.review_count  > 0 %}{{simillar_variant.product.review_count}} {% else %} 0 {% endif %} Reviews</span>
                            </div><!-- End .rating-container -->
                            </div><!-- End .product-body -->
                            </div><!-- End .product -->
                            
                            {% endif %}
                        {% empty %}
                        <div class="text center">
                            <h1 class="text-info">
                                No simillar products...
                            </h1>
                        </div>
                        
                        {% endfor %}
                    </div><!-- End .owl-carousel -->
                    
            </div><!-- End .container -->
        </div><!-- End .page-content -->


        
    </main><!-- End .main -->
    
    
</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->






{% endblock %}