{% load static %}
<!DOCTYPE html>
<html lang="en">


<!-- molla/index-13.html  22 Nov 2019 09:59:06 GMT -->

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %} {% endblock %}</title>

  <meta name="keywords" content="HTML5 Template">
  <meta name="description" content="DigiX">
  <meta name="author" content="p-themes">
  <!-- Favicon -->
 
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'admin_logo copy.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'logo.jpg' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'admin_logo copy.png' %}">
  <link rel="manifest" href="{% static 'user/assets/images/icons/site.html' %}">
  <link rel="mask-icon" href="{% static 'user/assets/images/icons/safari-pinned-tab.svg' %}" color="#666666">
  <link rel="shortcut icon" href="{% static 'admin_logo_copy.png' %}">
  <meta name="apple-mobile-web-app-title" content="Molla">
  <meta name="application-name" content="Molla">
  <meta name="msapplication-TileColor" content="#cc9966">
  <meta name="msapplication-config" content="{% static 'user/assets/images/icons/browserconfig.xml' %}">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet"
    href="{% static 'user/assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css' %}">

  <!-- Plugins CSS File -->


  {% if product_page %}
 
  <meta name="msapplication-config" content="{% static 'user/assets/images/icons/browserconfig.xml' %}">

  <!-- Plugins CSS File --><script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="{% static 'user/assets/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'user/assets/css/plugins/owl-carousel/owl.carousel.css' %}">
  <link rel="stylesheet" href="{% static 'user/assets/css/plugins/magnific-popup/magnific-popup.css' %}">
  <!-- Main CSS File -->
  
  <link rel="stylesheet" href="{% static 'user/assets/css/plugins/nouislider/nouislider.css' %}">
  <link rel="stylesheet" href="{% static 'user/assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'user/assets/css/skins/skin-demo-13.css' %}">
  <link rel="stylesheet" href="{% static 'user/assets/css/demos/demo-13.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />

  <script src="https://kit.fontawesome.com/fddbd64592.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'user/assets/css/bootstrap.min.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  {% elif user_links %}

  
  <meta name="msapplication-config" content="{% static 'user/assets/images/icons/browserconfig.xml' %}">

  <!-- Plugins CSS File --><script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="{% static 'user/assets/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'user/assets/css/plugins/owl-carousel/owl.carousel.css' %}">
  <link rel="stylesheet" href="{% static 'user/assets/css/plugins/magnific-popup/magnific-popup.css' %}">
  <!-- Main CSS File -->
  
  <link rel="stylesheet" href="{% static 'user/assets/css/plugins/nouislider/nouislider.css' %}">
  <link rel="stylesheet" href="{% static 'user/assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'user/assets/css/skins/skin-demo-13.css' %}">
  <link rel="stylesheet" href="{% static 'user/assets/css/demos/demo-13.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />

  <script src="https://kit.fontawesome.com/fddbd64592.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'user/assets/css/bootstrap.min.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  {% else %}


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
  <link rel="stylesheet" href="{% static 'user/assets/css/plugins/owl-carousel/owl.carousel.css' %}">
  <link rel="stylesheet" href="{% static 'user/assets/css/plugins/magnific-popup/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'user/assets/css/plugins/jquery.countdown.css' %}">
  <!-- Main CSS File -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'user/assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'user/assets/css/skins/skin-demo-13.css' %}">
  <link rel="stylesheet" href="{% static 'user/assets/css/demos/demo-13.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />

  <script src="https://kit.fontawesome.com/fddbd64592.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'user/assets/css/bootstrap.min.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  {% endif %}

<style>
  #suggestions {
    position: absolute;
    top: 100px;
    left: 300px;
    width: 500px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 9999;
    display: none; 
    text-align:center;
    overflow-y: auto;
    
  }

  .header_nav {
    background-color: #333; /* Set the background color of the navigation bar */
    z-index: 900; /* Set a lower z-index value */
  }

  /* Style the toast to have a higher z-index value */
  #liveToast {
    z-index: 901; /* Set a higher z-index value to make it appear above the navigation bar */
  }

  {% block priority_css_links %}
{% endblock %}
  
  </style>




{% block importantcss %}
{% endblock %}

</head>

<body>
  <!-- <div aria-live="polite" aria-atomic="true" style="position: relative;"></div> -->


  <div class="position-fixed top-0 end-0 mt-5" style="z-index:1000000000;">
    <div id="liveToast" class="toast hide " role="alert" aria-live="assertive" aria-atomic="true" style="height:80px;font-size:15px;border:1px solid #333333;border-radius: 13px;">
        <div class="toast-header p-2 bg-white">
            
            <strong class="me-auto ">Notification</strong>
           <hr>
            <button type="button" class="btn-close text-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body p-3 mb-3 text-center" id="toast_body">
            Hello, world! This is a toast message.
        </div>
    </div>
  </div>
  
  
<div id="customToast" class="toast  d-none" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
  <div class="toast-header">
     
    

      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body" style=" font-weight: bold;">
      
  </div>
</div>




  


  {% include 'user_app/header.html' %}
  {% block body %}



  {% endblock %}
  {% include 'user_app/footer.html' %}











 







{% if product_page %}

<script src="{% static 'user/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'user/assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'user/assets/js/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'user/assets/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'user/assets/js/superfish.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="{% static 'user/assets/js/owl.carousel.min.js' %}"></script>

    <script src="{% static 'user/assets/js/bootstrap-input-spinner.js' %}"></script>
    <script src="{% static 'user/assets/js/jquery.elevateZoom.min.js' %}"></script>
    <script src="{% static 'user/assets/js/bootstrap-input-spinner.js' %}"></script>
    <script src="{% static 'user/assets/js/jquery.magnific-popup.min.js' %}"></script>
   


    <script src="{% static 'user/assets/js/main.js' %}"></script>
    <script src="{% static 'js/custom_js.js' %}"></script>



{% elif user_links %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

<script src="{% static 'user/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'user/assets/js/bootstrap.bundle.min.js' %}"></script>


<script src="{% static 'user/assets/js/jquery.waypoints.min.js' %}"></script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="{% static 'user/assets/js/main.js' %}"></script>

<script src="{% static 'js/custom_js.js' %}"></script>

<script src="{% static 'user/assets/js/jquery.elevateZoom.min.js' %}"></script>

<script src="{% static 'user/assets/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'user/assets/js/superfish.min.js' %}"></script>

<script src="{% static 'user/assets/js/jquery.plugin.min.js' %}"></script>
<script src="{% static 'user/assets/js/jquery.countdown.min.js' %}"></script>

<script src="{% static 'user/assets/js/bootstrap.bundle.min.js' %}"></script>


<script src="{% static 'user/assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'user/assets/js/jquery.hoverIntent.min.js' %}"></script>
<script src="{% static 'user/assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'user/assets/js/demos/demo-13.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="{% static 'user/assets/js/wNumb.js' %}"></script>


<script src="{% static 'user/assets/js/nouislider.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>

<script>
  a_tags =document.getElementsByTagName('a')

 // Get all elements with class 'widget' and 'content-widget'
var widgetElements = document.querySelectorAll('.widget-list');

// Loop through each 'widget' and 'content-widget' element
widgetElements.forEach(function(element) {
  // Get all <a> tags inside the current 'widget' or 'content-widget' element
  var aTags = element.querySelectorAll('a');
  
  // Loop through each <a> tag inside this element and apply your styling
  aTags.forEach(function(aTag) {
    // Apply your styling to the <a> tag, for example:
    aTag.style.color = '#333333';
    aTag.style.textDecoration = 'none';
  });
});
</script>





{% else %}


<script src="{% static 'user/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'user/assets/js/bootstrap.bundle.min.js' %}"></script>
{% if page_title == 'checkout' %}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
{% endif %}

<script src="{% static 'user/assets/js/jquery.waypoints.min.js' %}"></script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="{% static 'user/assets/js/main.js' %}"></script>

<script src="{% static 'js/custom_js.js' %}"></script>

<script src="{% static 'user/assets/js/jquery.elevateZoom.min.js' %}"></script>

<script src="{% static 'user/assets/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'user/assets/js/superfish.min.js' %}"></script>

<script src="{% static 'user/assets/js/jquery.plugin.min.js' %}"></script>
<script src="{% static 'user/assets/js/jquery.countdown.min.js' %}"></script>

<script src="{% static 'user/assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'user/assets/js/bootstrap-input-spinner.js' %}"></script>

<script src="{% static 'user/assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'user/assets/js/jquery.hoverIntent.min.js' %}"></script>
<script src="{% static 'user/assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'user/assets/js/demos/demo-13.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="{% static 'user/assets/js/wNumb.js' %}"></script>


<script src="{% static 'user/assets/js/nouislider.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

{% endif %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>


<script>
  wishlist_id=  document.getElementById('wish_list_id')
  if (wishlist_id){
    wishlist_id.style.textDecoration='none';
  }

 if (window.location.pathname.startsWith('/product/')){
  //avoid headers in nav and description section
  var links = document.querySelectorAll('a:not(.header a):not(.product-details-tab a)');

// Apply CSS styles to each <a> tag
for (var i = 0; i < links.length; i++) {
    links[i].style.color = '#333333';          // Set text color to #333333
    links[i].style.textDecoration = 'none';    // Remove text decoration
}
}

 
</script>
{% block importantjs %}
{% endblock %}


</body>

</html>