{% extends 'digix_admin/base.html' %}
{% load static %}

{% block title %}Add {{element}}{% endblock %}

{% block body %}


<div class="content-wrapper" id="content_wrapper_div">

<div class="container h-100">
    <div class="row d-flex justify-content-center text-dark">
        <div class="col-12">


            

            

            








            <form method="POST"  {% if element == 'Variant' %} enctype="multipart/form-data" {% endif %}>
                {% csrf_token %}
             
                {% for field in form %}
            
                <div class="form-group m-3 {% if element != 'Variant' %} mt-4  w-50 {% else %} mt-4 d-flex w-50 {% endif %}  {% if update %} d-flex w-50 {% endif %}">
                   
                    <div class="w-50 ">
                    {% if update %}
                    {{field.label}}
                    {% else %} 
                    {% if field.name|slice:":5" == 'image'  %} 
                    <div class="mr-3 ">{% if field.label %} {{field.label}} {% endif %}</div>
                    {% endif %}


                    {% if field.name == 'tv_mount'  %} 
                    <div class="mr-3">{% if field.label %}*If TV <br> Mount Type {% endif %}</div>
                    {% endif %}
                    {% endif %}
                </div>

                    {{ field }} {% if field.name == 'is_available' %}   {{field.label}} {% endif %}
                </div>



                {{ form.field.errors }}
                    {% if field.errors %}
                        <div class="mx-3">
                            {% for error in field.errors %}
                            <small id="" class="text-danger">{{field.name}} {{ error }}</small>
                            {% endfor %}
                        </div>
                    {% endif %}
                  
            
                {% endfor %}
            
                {% if form.non_field_errors %}
            <div class="invalid-feedback">
                {% for error in form.non_field_errors %}
                <p class="text-success">{{ error }}</p>
                {% endfor %}
                {% endif %}
            
                
            
                    
                        
            
                        
                        
                        <div class="w-50">
                    <div class="text-start mx-3 w-50">
            
                <button type="submit" class="btn text-white btn-warning mx-1 p-3 add_btn">Submit</button>
            </div></div>
            
                <!-- {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }} text-danger"{% endif %}>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %} -->
            
            </form>
    </div>
</div>




   
        <!-- 
    {{ field.errors }}
{{ form.non_field_errors }} -->
    </div>
    {% endblock %}