{% extends 'digix_admin/base.html' %}
{% load static %}

{% block title %}Add {{element}}{% endblock %}

{% block priority_css_links %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>



<style>
    .cropper-container {
  width: 759px !important;
  height: 435px !important;
}

.cropper-crop-box{

    width: 593px;
    height: 315.132px;
    transform: translateX(113.321px);

}
</style>

{% endblock %}

{% block body %}


<div class="content-wrapper" id="content_wrapper_div">

<div class="container h-100">
    <div class="row d-flex justify-content-center text-dark">
        <div class="col-12">


            

            

            








            <form method="POST"  {% if element == 'Variant' %} enctype="multipart/form-data" {% endif %}>
                {% csrf_token %}
             
                {% for field in form %}
            
                <div class="form-group m-3 {% if element != 'Variant' %} mt-4  w-50 {% else %} mt-4 d-flex w-50 {% endif %}  {% if update %} d-flex w-50 {% endif %}">
                   
                    <div class="w-50 ">
                    {% if update %}
                    {{field.label}}
                    {% else %} 
                    {% if field.name|slice:":5" == 'image'  %} 
                    <div class="mr-3 ">{% if field.label %} {{field.label}} {% endif %}</div>
                    {% endif %}


                    {% if field.name == 'tv_mount'  %} 
                    <div class="mr-3">{% if field.label %}*If TV <br> Mount Type {% endif %}</div>
                    {% endif %}
                    {% endif %}
                </div>

                    {{ field }} {% if field.name == 'is_available' %}   {{field.label}} {% endif %}
                </div>

               
                {{ form.field.errors }}
                    {% if field.errors %}
                        <div class="mx-3">
                            {% for error in field.errors %}
                            <small id="" class="text-danger">{{field.name}} {{ error }}</small>
                            {% endfor %}
                        </div>
                    {% endif %}
                  
            
                {% endfor %}
            
                {% if form.non_field_errors %}
            <div class="invalid-feedback">
                {% for error in form.non_field_errors %}
                <p class="text-success">{{ error }}</p>
                {% endfor %}
                {% endif %}
            
                
            
                    
                        
            
                        
                        
                        <div class="w-50">
                    <div class="text-start mx-3 w-50">
            
                <button type="submit" class="btn text-white btn-warning mx-1 p-3 add_btn">Submit</button>
            </div></div>
            
            {% if messages %}
            <div class="alert  w-50 text-start">
                {% for message in messages %}
                    <p class="text-danger" style="font-size:1,2rem;">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}


            <!-- modal start -->
        
            <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content" style="width:800px;height:600px;background:white;">
                    <div class="modal-header">
                      <h5 class="modal-title text-dark" id="imageModalLabel">Crop Image</h5>
                      
                       <svg id="closeModalIcon" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-square-fill text-dark" viewBox="0 0 16 16">
                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
                          </svg>
                      
                    </div>
                    <div class="modal-body">
                      <div id="image-box-modal" class="image-container h-100 w-100"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-dismiss="modal" id="close-btn">Close</button>
                        <button type="button" class="btn btn-dark" id="crop-btn">Crop and Close</button>
                       </div>
                  </div>
                </div>
              </div>
        
        
        <!-- modal end -->
        
        
        </form>
    </div>
</div>




   
        <!-- 
    {{ field.errors }}
{{ form.non_field_errors }} -->
    </div>
    {% endblock %}

    {% block priority_js_links %}

{% endblock %}