{% extends 'digix_admin/base.html' %}
{% load static %}

{% block title %}Categories{% endblock %}

{% block body %}
   

<div class="content-wrapper" id="content_wrapper_div">
<div class="text-right m-3"><a class='btn btn-success p-3 add_btn' href="{% url 'digix_admin:add_category' %}">Add Category</a></div>
    

<table id="myTable1" class="cell-border hover order-column stripe row-border bg-light">

  <thead>
      <!-- really important when rendering button , an empty <td> want to be given else won't work --empty data table -->
      
          <td>Category name</td>  
          <td></td>
          <td></td>

  </thead>

  <!-- Your table content here -->
</table>


        </div>
      </div>







</div>


{% endblock %}