{% extends 'digix_admin/base.html' %}
{% load static %}

{% block title %}Orders{% endblock %}

{% block priority_css_links %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<style src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"></style>
<style src="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css"></style>
<link rel="stylesheet" href="{% static 'admin/assets/css/style.css' %}">
<style>
    /* Change background color of pagination buttons */
.dataTables_paginate .paginate_button {
    background-color: #fff;
    color: black;
}

/* Change text color of pagination buttons on hover */
.dataTables_paginate .paginate_button:hover {
    background-color: #333333;
    color: white;
}

/* Change text color of active page button */
.dataTables_paginate .paginate_button.current {
    background-color: #fff;
    color: black;
}

.waiting-approval-row {
    background: linear-gradient(to right, white, red);
    /* Additional styles for text color, etc. */
    color: black; /* Change text color as needed */
}

#example td {
    padding: 20px; /* Adjust this value as needed */
    /* OR */
    height: 40px; /* Adjust this value as needed */
  }

</style>
{% endblock %}

{% block body %}
   

<div class="content-wrapper" id="content_wrapper_div">
  

        
    <table id="example" class="table table-striped" style="
        padding: 20px;
        border-radius: 20px;
        border: 2px solid #333333;
        width: 1200px;
    ">
        <thead>
            <tr>
                
                    <th>Order number</th>
                    
                    <th>Product Name</th>
                    <th>
                    Quantity
                    </th>
                    <th>Date</th>
                    <th>Reason</th>
                    <th>Status</th>
                    <th>Order status</th>
                    
                   
                    
            </tr>
        </thead>
        <tbody>
         
           
        {% for order in return_orders %}
            
            <tr class="{% if order.order.order_status == 'waiting_for_approval' %}waiting-approval-row{% endif %}">

                <td style="font-weight:500;"><a href="{% url 'digix_admin:return_order' order.id %}" class=" text-dark">{{ order.order.order.order_num }}</a></td>
                <td style="font-weight:500;">{{ order.variant.product.name }}</td>
                <td style="font-weight:500;">{{ order.qty }}</td>
                <td>{{ order.order_request_date }}</td>
                <td>{{ order.reason }}</td>

                <td>{{ order.admin_approved }}</td>

                
                <td class="text-dark changed_status" data-order-id="{{ order.order.id }}" data-status="{{ order.order.order_status }}" style="font-weight:500;" >
                    
                    
                    {% if order.order.order_status == 'order_pending' %}
                    Order Pending
                    {% elif order.order.order_status == 'returned' %}
                    Order Returned
                    {% elif order.order.order_status == 'order_confirmed' %}
                    Order Confirmed
                    {% elif order.order.order_status == 'shipped' %}
                    Order Shipped
                    {% elif order.order.order_status == 'delivered' %}
                    Delivered
                    {% elif order.order.order_status == 'waiting_for_approval' %}
                   	Waiting for Approval
                    {% else %}
                    Cancelled
                {% endif %}

                
               
                </td>
                
            
            </tr>

      
            {% empty %}
            <p class="text-dark fs-2">No returns</p>
       
    {% endfor %}
        </tbody>
        
    </table>

        <!-- <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Order number</th>
                    <th>User Phone</th>
                    <th>Product Name</th>
                    <th>
                    Quantity
                    </th>
                    <th>Date</th>
                    <th>Status</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
              {{order.user.username}}
            
                {% for order_item in order.order_items.all %}
                    <tr>
                        <td style="width:100px;">
                            {% with variant_image=order_item.variant.variant_images.first %}
                                <img src="{{ variant_image.image.url }}" alt="{{ order_item.variant.name }} Image" style="width:99px;height:101px;">
                            {% endwith %}
                        </td>
                        <td style="font-weight:500;">{{ order.order_num }}</td>
                        <td style="font-weight:500;">{{ order.user.username }}</td>
                        <td style="font-weight:500;"> <a href="{% url 'user:order_detail' order.id order_item.variant.id %}" class="text-dark text-decoration-none">{{ order_item.variant.name }}</a></td>
                        <td>{{ order_item.quantity }}</td>
                        <td>{{ order.date_created }}</td>
                        <td class="text-dark" style="font-weight:500;">{{ order_item.order_status }}</td>
                    </tr>
                {% endfor %}
                
                {% endfor %}
            
               
            </tbody>
        </table>
     -->


 {% if count == 0 %}


    <div class="row" >
        <p>No order has been made yet.</p>
        <a href="{% url 'user:index' %}" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
    </div><!-- .End .tab-pane -->


{% endif %}


    
    

    
   

</div>


{% endblock %}

{% block priority_js_links %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	   <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
	   <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
	   <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
	   <script>
        table=new DataTable('#example');
       // Get the odd rows using DataTables API
var oddRows = table.rows('.odd');

// Loop through the odd rows and change their background color to white
oddRows.every(function () {
    $(this.node()).css('background-color', 'transparent');
});
// Override pagination button styles
$('.paginate_button').css('background-color', 'white');
    $('.paginate_button').css('color', 'black');
    // Override pagination button styles
    $('.paginate_button, .page-item').css('background-color', 'white');
    $('.paginate_button, .page-item').hover(function () {
        // Remove hover effect by setting the same background color on hover
        $(this).css('background-color', 'white');
    });
        </script>
        <script src ="{% static 'admin/custom_admin.js' %}"></script>
{% endblock %}