{% extends 'digix_admin/base.html' %}
{% load static %}

{% block title %}Products{% endblock %}

{% block body %}
   

<div class="content-wrapper" id="content_wrapper_div">
<div class="text-right m-3"><a class='btn btn-success p-3 add_btn' href="{% url 'digix_admin:add_variant' %}">Add Variant</a></div>
    

<table id="myTable3" class="cell-border hover order-column stripe row-border bg-light">

  <thead>
      <!-- really important when rendering button , an empty <td> want to be given else won't work --empty data table -->
      
          <td>Variant</td> 
          <td>Product</td> 
          <td>Ram</td> 
          <td>Storage</td>
          <td>color</td>
          <td>MRP</td>
          <td>Selling Price</td>
          <td></td>
          <td></td>
          

  </thead>

  <!-- Your table content here -->
</table>

        </div>
      </div>


{% endblock %}